#home {
  background-image: url('favicon.png');
  background-size: cover;
  background-position: center;
}
#playingCont {
  width: 60%;
  height: 100%;
}
#coversCont {
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: #eee6;
}
#coversCont > img {
  flex-shrink: 0;
  border-radius: 5%;
}
.currentAlbum {
  width: 45%;
  height: auto;
}
.flankingAlbums {
  width: 30%;
  height: auto;
  margin: 20px;
}
#titleCont {
  height: 160px;
  width: 100%;
  background-color: #eeea;
}
#halfDivider {
  height: 100%;
  width: 6px;
  background: linear-gradient(var(--blue), var(--purple), var(--magenta));
  flex-shrink: 0;
}
#queueCont {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee6;
}
#queueCont > div {
  min-height: 100px;
  width: 90%;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
}
.queueDivider {
  width: 90%;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(to right, var(--blue), var(--purple), var(--magenta));
  margin: auto;
}
.queueRow {
  height: 80px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.queueRow > img {
  height: 70px;
  width: 70px;
  padding: 5px;
  border-radius: 10%;
  flex-shrink: 0;
}
.queueTont {
  height: 80px;
  width: 100%;
}
.queueTitle, .queueArtist {
  height: 40px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 0 5px;
  white-space: nowrap;
}
.queueTitle {
  font-size: 32px;
  font-weight: bold;
  color: #444;
}
.queueArtist {
  font-size: 24px;
  color: #555;
}
#songTitle, #songDesc {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  white-space: nowrap;
  overflow: hidden;
}
#songTitle {
  font-size: 60px;
  font-weight: bold;
  color: #222;
  width: 100%;
}
#songDesc {
  font-size: 36px;
  color: #333;
  width: calc(100% - 120px);
  margin-left: 60px;
}
@media (orientation: portrait) {
  #playingCont, #queueCont {
    width: 100%;
    height: 50%;
  }
  #halfDivider {
    display: none;
  }
  .flexConv {
    display: block;
  }
  .queueRow, .queueTont {
    height: 60px;
  }
  .queueRow > img {
    height: 50px;
    width: 50px;
  }
  .queueTitle, .queueArtist {
    height: 30px;
    line-height: 30px;
  }
  .queueTitle {
    font-size: 24px;
  }
  .queueArtist {
    font-size: 18px;
  }
  #titleCont {
    height: 100px;
  }
  #songTitle, #songDesc {
    height: 50px;
    line-height: 50px;
  }
  #songTitle {
    font-size: 40px;
  }
  #songDesc {
    width: 100%;
    margin-left: 0px;
    font-size: 28px;
  }
  #coversCont {
    height: calc(100% - 100px);
  }
}
