body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  --blue: #2b63a5;
  --purple: #6e2e92;
  --magenta: #9c2488;
  --blue-hover: #3b73b5;
  --purple-hover: #7e3ea2;
  --magenta-hover: #ac3498;
  --grey: #777;
}
.flexConv {
  height: 100%;
  width: 100%;
  display: flex;
}
.relConv {
  height: 100%;
  width: 100%;
  position: relative;
}
#footer {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #333;
}
#sideBar {
  background-color: #222;
  height: calc(100% - 100px);
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
}
#sideLogo {
  width: 25%;
  padding: 5px;
  height: auto;
  display: block;
  margin: auto;
}
.divider {
  height: 4px;
  border-radius: 3px;
  width: 80%;
  margin-left: 10%;
  background: linear-gradient(to right, var(--blue), var(--purple), var(--magenta));
  margin-top: 2px;
  margin-bottom: 3px;
}
.sideNav {
  height: 60px;
  width: 100%;
  padding: 5px 15px;
  border: none;
  background-color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: left;
  border: 3px solid #222;
}
.sideNav:hover {
  cursor: pointer;
  border-color: currentColor;
}
.sideNav:first-of-type {
  color: var(--blue);
}
.sideNav:nth-of-type(2) {
  color: var(--purple);
}
.sideNav:nth-of-type(3) {
  color: var(--magenta);
}
.sideNav:nth-of-type(4) {
  color: var(--grey);
}
.content {
  width: 100%;
  height: 100%;
  display: none;
}
.contentHeader {
  height: 70px;
  line-height: 70px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.contentParent {
  height: calc((100% - 140px) / 2);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4a4a4a;
}
.contentParent > img {
  flex-shrink: 0;
  height: calc(100% - 40px);
  width: auto;
  border-radius: 5%;
}
.contentParent > img:hover {
  opacity: 0.8;
  cursor: pointer;
}
#scrubCont {
  height: 40px;
  width: 100%;
  display: flex;
}
.scrubTime {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  flex-shrink: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}
.scrubParent {
  width: 100%;
  height: 40px;
}
#scrubBar {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  margin-top: 15px;
  margin-left: 0px;
  border-radius: 5px;
  background: linear-gradient(to right, var(--blue), var(--purple), var(--magenta));
}
#scrubBarr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d3d3d3;
  cursor: pointer;
  border-radius: 5px;
}
#scrubBar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #d3d3d3;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#controlCont {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
#controlParent {
  height: 60px;
  width: auto;
  display: flex;
}
.controlIcon {
  height: 40px;
  width: 40px;
  border: 3px solid currentColor;
  padding: 2px;
  margin: 5px;
  border-radius: 50%;
}
.controlIcon:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}
#playPause {
  color: var(--blue);
}
.navTrack, .skipInTrack {
  height: 32px;
  width: 32px;
  margin: 9px;
  color: var(--purple);
}
.skipInTrack {
  color: var(--magenta);
}
#container {
  width: calc(100% - 240px);
  height: calc(100% - 100px);
  background-color: #444;
  position: absolute;
  top: 0;
  right: 0;
}
#retract {
  height: 50px;
  width: 50px;
  padding: 5px 5px 5px 0;
  background-color: #333;
  fill: white;
  border-radius: 0 30px 30px 0;
  position: absolute;
  bottom: 110px;
  left: 0px;
  z-index: 3;
}
#retract:hover {
  cursor: pointer;
  background-color: #383838;
}
#dock {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #222;
  display: none;
}
.dockButton {
  width: 25%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #222;
}
.dockButton:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}
.dockButton > svg {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: auto;
  display: block;
}
.dockButton:first-of-type > svg {
  fill: var(--blue);
}
.dockButton:nth-of-type(2) > svg {
  fill: var(--purple);
}
.dockButton:nth-of-type(3) > svg {
  fill: var(--magenta);
}
.dockButton:nth-of-type(4) > svg {
  fill: var(--grey);
}
@media (orientation: portrait) {
  #sideBar, #retract {
    display: none;
  }
  #container {
    width: 100%;
    height: calc(100% - 150px);
  }
  #footer {
    bottom: 50px;
  }
  #dock {
    display: flex;
  }
  .flexConv {
    display: block;
  }
}
